@font-face
{
  font-family: "pixel_font";
  src: url('assets/Chalkchalk-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body{
  margin: 0;          
  padding: 0;        
  width: 100%;
  background-color: black;        
  height:100vh;
max-height: 100vh;
max-width: 100vw ;
}
.button-container
{
 display: flex;
 gap: 0.4vh;
  flex-direction: column; 
  align-items:flex-start;
  width: 5.5vh;
  filter: brightness(80%);
  flex-shrink: 0;
}
.box
{
  width: 60vh;
  margin: auto;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.test
{
  flex: 1;
  margin: 0;
  display: flex;
justify-content:flex-start;
  flex-direction: row; 
  align-items:flex-start; 
  width: 100%;
    
}
.bet-button
{
  display: flex;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
  object-fit: contain;

}
.bet-button img
{
  display: flex;
  width: 100%;
  height: auto;
}
.top_panel_img
{
  height: 15vh;
  filter: brightness(70%);
  max-width: 80vw;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
}

.bottom_panel
{
  max-width: 100%;
  height: 30vh;
}

.bottom_panel img
{
  filter: brightness(80%);
}

.my-button
{ 
  display: block;
  padding: 0px;
  margin-bottom: 1vh;
  background-color: transparent;
  border: none;
  width: 22vh;
  height: 22vh;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;

}
.my-button img
{
  height: 100%;
  
}

.test-centre
{
  flex: 1.5;
  height: 52vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  padding-left: 2vh;
}

.light
{
  flex: 1;
  flex-direction: column;
  display: flex;
  width: 10vh;
  right: 0%;
  height: 52vh;
  align-items: flex-end;
  justify-content:center;
  
}
.beautifier-1
{
  width: 100%;
  position: relative;
}
.beautifier-div
{
  box-sizing: border-box;
  width:50%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 5vh;
  background-image: url('assets/light_hole.png');
  background-repeat:no-repeat;
  background-position: top left;
  background-size: contain;
  display: flex;
  align-items: start;
justify-content: top;
}
.beautifier-2
{
  width: 200%;
  height: 200%;
  padding-right: 2vh;
  align-items: flex-start;
  object-position: top left;
  z-index: 1;
  
}
.overlay-test
{
  display: grid;
  grid-area: 1/1;
  place-items: center;
  position:absolute;
  right: 50%;
  transform: translateX(50%);
  top: 30%;
}
.top_panel_ui
{
  display: grid;
  grid-area: 1/1;
  place-items: center;
}
.realUI
{
  align-self: start;
  margin-top: 2vh;
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
  color: #ffffff;
  font-family: "pixel_font";
  font-size: xx-large;
  width: 28vh;
  overflow-wrap: break-word;
  line-height: 1.5rem;
  filter: opacity(60%);
}
.Multiplier_UI
{
  max-width: 25vh;
}

body::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url('assets/background4.png');
  background-size: contain;
  background-color: black;
  background-position: top center;
  background-repeat: no-repeat;
  filter: hue-rotate(45deg);

  z-index: -1;
}
  
}

