
body{
  margin: 0;          
  padding: 0;        
  width: 100%;        
  box-sizing: border-box;
  height:100vh;
  background-image: url('assets/background.jpg');
   background-repeat: no-repeat;
   background-position: top center;
  background-color: black;
  background-size:contain;
max-height: 100vh;
max-width: 100vw ;
}
.button-container
{
 display: flex;
 gap: 0.4vh;
  flex-direction: column; 
  align-items:flex-start;
  width: 5.5vh;
  filter: brightness(80%);
}
.box
{
  width: 60vh;
  margin: auto;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.test
{
  flex: 1;
  margin: 0;
  display: flex;
justify-content:flex-start;
  flex-direction: row; 
  align-items:flex-start; 
  width: 100%;
    
}
.bet-button
{
  display: flex;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;

}
.bet-button img
{
  display: flex;
  width: 100%;
  height: 100%;
}
.top_panel_img
{
  height: 15vh;
  filter: brightness(70%);
  max-width: 80vw;
}

.bottom_panel
{
  max-width: 100%;
  height: 30vh;
}

.my-button
{
  display: flex;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
  width: 22vh;
  height: 22vh;
}
.main_button
{
  display: flex;
  width: 100%;
  height: 100%;
}

.test-centre
{
  flex: 1.5;
  height: 52vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}

.light
{
  flex: 1;
  flex-direction: column;
  display: flex;
  width: 10vh;
  right: 0%;
  height: 52vh;
  align-items: flex-end;
  justify-content:center;
  
}
.beautifier-1
{
  width: 100%;
  position: relative;
}
.beautifier-div
{
  box-sizing: border-box;
  width:50%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 5vh;
  background-image: url('assets/light_pole.png');
  background-repeat:no-repeat;
  background-position: top left;
  background-size: contain;
  display: flex;
  align-items: start;
justify-content: top;
}
.beautifier-2
{
  width: 200%;
  height: 200%;
  padding-right: 2vh;
  align-items: flex-start;
  object-position: top left;
  z-index: 1;
  
}
