@font-face
{
  font-family: "pixel_font";
  src: url('assets/Chalkchalk-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body{
  margin: 0;          
  padding: 0;        
  width: 100%;
  background-color: black;        
  height:100vh;
max-width: 100vw;
overflow: hidden;
}
.button-container
{
 display: flex;
 gap: 0.4vh;
  flex-direction: column; 
  align-items:flex-start;
  width: 5.5vh;
  filter: brightness(80%);
  flex-shrink: 0;
}
.box
{
  width: 60vh;
  margin: auto;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.test
{
  flex: 1;
  margin: 0;
  display: flex;
justify-content:flex-start;
  flex-direction: row; 
  align-items:flex-start; 
  width: 100%;
    
}
.bet-button
{
  display: flex;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
  object-fit: contain;

}
.bet-button img
{
  display: flex;
  width: 100%;
  height: auto;
}
.top_panel_img
{
  height: 15vh;
  filter: brightness(70%);
  max-width: 95vw;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
}

.bottom_panel
{
  max-width: 100%;
  height: 30vh;
}

.bottom_board img
{
  filter: brightness(80%);
}

.my-button
{ 
  display: block;
  padding: 0px;
  margin-bottom: 1vh;
  background-color: transparent;
  border: none;
  width: 22vh;
  height: 22vh;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;

}
.my-button img
{
  height: 100%;
  color: #A188FF;
  
}

.test-centre
{
  flex: 1.5;
  height: 52vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  padding-left: 2vh;
}

.light
{
  flex: 1;
  flex-direction: column;
  display: flex;
  width: 10vh;
  right: 0%;
  height: 52vh;
  align-items: flex-end;
  justify-content:center;
  
}
.beautifier-1
{
  width: 100%;
  position: relative;
}
.beautifier-div
{
  box-sizing: border-box;
  width:50%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 5vh;
  background-image: url('assets/light_hole.png');
  background-repeat:no-repeat;
  background-position: top left;
  background-size: contain;
  display: flex;
  align-items: start;
justify-content: top;
}
.beautifier-2
{
  width: 200%;
  height: 200%;
  padding-right: 2vh;
  align-items: flex-start;
  object-position: top left;
  z-index: 1;
  
}
.overlay-test
{
  display: grid;
  grid-area: 1/1;
  place-items: center;
  position:absolute;
  right: 50%;
  transform: translateX(50%);
  top: 30%;
}
.top_panel_ui
{
  display: grid;
  grid-area: 1/1;
  place-items: start;
  margin-left: 2vh;
  margin-right: 2vh;
  max-width: 80vw;
}
.realUI
{
  align-self: start;
  margin-top: 2vh;
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
  color: #ffffff;
  font-family: "pixel_font";
  font-size: 4vh;
  width: 28vh;
  overflow-wrap: anywhere;
  line-height: 1.6rem;
  filter: opacity(60%);
  margin-left: 2vh;
  
}
.Multiplier_UI
{
  max-width: 25vh;
}

body::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url('assets/background4.png');
  background-size: contain;
  background-color: black;
  background-position: top center;
  background-repeat: no-repeat;
  filter: hue-rotate(45deg);

  z-index: -1;
}
  
@keyframes press {
  0%{
    transform: scale(1);
  }
  16%
  {
    transform: scale(0.975);
  }
  33%
  {
    transform: scale(0.95);
  }
  50%
  {
    transform: scale(0.975);
  }
  66%
  {
    transform: scale(0.985);
  }
  83%
  {
    transform: scale(0.9937);
  }
  100%
  {
    transform: scale(1);
  }
} 
.win_light{
  width: 23vh;
  height: 23vh;
  transform: translate(-40.75%, -39.75%);
  display: none;
}
#red_color
{
  transform: translate(-40.4%, -39.5%);
  
}
.bottom_space
{
  display: grid;
  grid-area: 1/1;
  width: 56vh;
}
.bottom_board
{
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
}
.bottom_ui
{
  margin-top: 1vh;
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
  color: #ffffff;
  filter: opacity(60%);
  font-family: "pixel_font";
  margin-left: 1vh;
  width: 56vh;
  max-width: 99vw;
}
@keyframes press2 {
  0%{
    transform: scale(1);
    color: #AAFFAA;
  }
  16%
  {
    transform: scale(1.025);
    color: #AAFFAA;
  }
  33%
  {
    transform: scale(1.05);
    color: #AAFFAA;
  }
  50%
  {
    transform: scale(1.0375);
    color: #AAFFAA;
  }
  66%
  {
    transform: scale(1.025);
    color: #AAFFAA;
  }
  83%
  {
    transform: scale(1.0125);
    color: #AAFFAA;
  }
  100%
  {
    transform: scale(1);
    color: #AAFFAA;
  }
}
.UI_button_1
  {
    border: 0.5vh solid white;
    background-color: transparent;
    border-radius:2.5vh;
    height: 5vh;
    width: 15vh;
    max-width: 30vw;
    font-family: "pixel_font";
    color: white;
    font-size: 2.7vh;
  }
.upgrade_declare
{
  font-size: 3.5vh;
  text-align: center;
  width: 15vh;
  max-width: 30vw;
  color: #A188FF;
  margin-top: 0;
  white-space: nowrap;
  margin-bottom: 0;
}
.price_win_chance
{
 font-family: "pixel_font";
 font-size: 2vh;
 margin: 0.25vh;
 margin-bottom: 0.25vh;
 overflow-wrap: anywhere;
 width: 16vh;
 height: 4vh;
 text-align: center;
}
.bottom_ui_page_1
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1vh;
  max-height: 80%;
  width: 56vh;
}
#win_percentage
{
  margin-top: 1vh;
  margin-left: 0;
  height: auto;
  font-size: 13vh;
  margin-bottom: 1vh;
}
#next_win_chance
{
  margin-top: 3vh;
  margin-left: 1vh;
  text-align: center;
  color: beige;
}
.UI_column_3
{
  margin-left: 2vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.multiplier_upgrade_declare
{
  color: #8888FF;
}
.next_page
{
  background: transparent;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 4vh;
  margin-right: 2vh;
  height: 100%;
  margin-top: -1vh;
  content: ;
}
.UI_column_1
{
  margin-left: 2vh;
}
#withdraw
{
  position: absolute;
  color: #66ff66;
  border-color: #88ff88;
  transform: scaleX(110%) translateX(60%);
  background-color: rgba(0, 255, 0, 0.05);
}
.in_hand_cash
{
  font-size: 3.5vh;
  width: 90%;
}